@model Court
@using RPRO_SportSoft.Application;
@{
    ViewBag.Title = "Vytvoření kurtu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/toastr.js"></script>
<h2>Vytvoření kurtu</h2>
@if (ViewData["MyMessageToUser"] != null)
{
    <script language="javascript">
        toastr.options = {
            "closeButton": false,
            "debug": false,
            "newestOnTop": false,
            "progressBar": false,
            "positionClass": "toast-bottom-right",
            "preventDuplicates": false,
            "onclick": null,
            "showDuration": "300",
            "hideDuration": "1000",
            "timeOut": "5000",
            "extendedTimeOut": "1000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        }
        toastr.error('@ViewData["MyMessageToUser"]');
    </script>
}

@*<h4>Kurt</h4>
<hr />*@
@{
    if (Session["Role"] == null)
    {
        Session["Role"] = "";
    }
    if ((String)Session["Role"] != "Owner") {
        Response.Redirect("~/Main/Index");
    }
 }
@using (Html.BeginForm("Create", "Courts",FormMethod.Post))
{
    
    <p>
        @Html.Hidden("Id",Model.Sports_Id) <br />
        Název kurtu: @Html.TextBox(("CourtName"), Model.Name, new { @class = "form-control", onkeydown = "return validateTextBox(event, this);", placeholder = "", required = "required" }) <br />
        Ceník: @Html.DropDownList("De_P", new SelectList(new PriceListsApp().GetListDescrioptionsCreate())) <br /><br />
        <input type="submit" value="Vytvořit" class="btn btn-default"/>

    </p>
} 
@Html.ActionLink("Zpět", "CourtDetails", "Sports", new { id = Model.Sports_Id, date = DateTime.Today.ToString("dd.MM.yyyy"), count = 1}, null)



