@model Court

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Smazání kurtu</h2>

@*<h3>Opravdu chcete vymazat kurt @Html.DisplayFor(model => model.Name)?</h3>*@
<div>
    @*<h4>Kurt</h4>*@
    @ViewBag.MyMessageToUser
    @*<hr />*@
    <dl class="dl-horizontal">
        <dt>
            @*@Html.DisplayNameFor(model => model.Name)*@
        </dt>

        <dd>
            @*@Html.DisplayFor(model => model.Name)*@
        </dd>

    </dl>

@if (ViewBag.MyMessageToUser == null)
{
    <h3>Opravdu chcete vymazat kurt @Html.DisplayFor(model => model.Name)?</h3>

     using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Vymazat" class="btn btn-default" />
           
        </div>
    }
    }
</div>
</br>
@Html.ActionLink("Zpět na výpis", "Index", "Sports")