@model RPRO_SportSoft.Court
@using RPRO_SportSoft.Application;
@{
    ViewBag.Title = "Úprava kurtu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/toastr.js"></script>
<h2>Upravit kurt</h2>
@if (ViewData["MessageEditCourt"] != null)
{
    <script language="javascript">
        toastr.options = {
            "closeButton": false,
            "debug": false,
            "newestOnTop": false,
            "progressBar": false,
            "positionClass": "toast-bottom-right",
            "preventDuplicates": false,
            "onclick": null,
            "showDuration": "300",
            "hideDuration": "1000",
            "timeOut": "5000",
            "extendedTimeOut": "1000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        }
        toastr.error('@ViewData["MessageEditCourt"]');
    </script>
}

@using (Html.BeginForm("Edit", "Courts", FormMethod.Post))
{
    <p>
        @Html.Hidden("Id", Model.Id) 
        @Html.Hidden("Sports_Id", Model.Sports_Id) 
        Název kurtu: @Html.TextBox("CourtName", Model.Name,  new { @class = "form-control", type = "text", onkeydown = "return validateTextBox(event, this);", placeholder = "", required = "required"}) <br />
        Ceník: @Html.DropDownList("De_P", new SelectList(new PriceListsApp().GetListDescrioptionsEdit(Model.Id))) <br /><br />
        Datum platnosti ceníku: <input class="myInput" name="date" date-type="date" id="datepicker" value= @ViewBag.date /><br /><br />
        <input type="submit" value="Uložit změny" class="btn btn-default"/>
    </p>
} 

<div>
    @Html.ActionLink("Zpět", "CourtDetails","Sports", new { id = Model.Sports_Id, date = DateTime.Today.ToString("dd.MM.yyyy"), count = 1 },null)
</div>

<script>
    $(function () {
            $("#datepicker").datepicker();
        });
    $("#datepicker").datepicker({ minDate: 0 });
</script>