@model RPRO_SportSoft.Court
@using RPRO_SportSoft.Application;
@{
    ViewBag.Title = "Úprava kurtu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Upravit kurt</h2>
@ViewBag.MessageEditCourt
@using (Html.BeginForm("Edit", "Courts", FormMethod.Post))
{
    <p>
        @Html.Hidden("Id", Model.Id) 
        @Html.Hidden("Sports_Id", Model.Sports_Id) 
        Název kurtu: @Html.TextBox("CourtName", Model.Name,  new { @class = "form-control", type = "text", onkeydown = "return validateTextBox(event, this);", placeholder = "", required = "required"}) <br />
        Ceník: @Html.DropDownList("De_P", new SelectList(new PriceListsApp().GetListDescrioptions())) <br />
        Datum platnosti ceníku: <input name="date" date-type="date" id="datepicker" value= @ViewBag.date /><br />
        <input type="submit" value="Uložit změny" />
    </p>
} 

<div>
    @Html.ActionLink("Zpět na výpis", "Details","Sports", new { id = Model.Sports_Id, date = DateTime.Today.ToString("dd.MM.yyyy"), count = 1 },null)
</div>

<script>
    $(function () {
            $("#datepicker").datepicker();
        });
    $("#datepicker").datepicker({ minDate: 0 });
</script>