@model  List<ReservationFormated>

@{
    ViewBag.Title = "Výpis rezervací";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Výpis rezervací</h2>

<table class="table">
    <tr class="default">
        <th>
            Datum
        </th>
        <th>
            Kurt
        </th>
        <th>
            Čas
        </th>
        <th>
            Cena
        </th>
   </tr>

    @foreach (var item in Model)
    {
        <tr class="default">
            <td>
                @{ 
                    DateTime date = item.date;
                }
                @date.ToString("dd.MM.yyyy")
            </td>
            <td>
                @ViewBag.MapedCourts[item.courtId]
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.time)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.price)
            </td>
         </tr>
    }

</table>

@Html.ActionLink("Zpět", "Index", "Sports")
<br />