@model IEnumerable<RPRO_SportSoft.Reservation>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Výpis rezervací</h2>

<table class="table">
    <tr>
        <th>
            Datum
        </th>
        <th>
            Kurt
        </th>
        <th>
            Cena
        </th>
        <th>
            Čas
        </th>
        <th>
            Zákazník
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @{ 
                    DateTime date = item.Date;
                }
                @date.ToString("dd.MM.yyyy")
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Courts_Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Time_Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User_Email)
            </td>
        </tr>
    }

</table>

@Html.ActionLink("Zpět", "Index", "Sports")
<br />