@model IEnumerable<RPRO_SportSoft.Court>
@using RPRO_SportSoft.Application;

@{
    ViewBag.Title = "Statistika";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Statistiky</h2>
@using (Html.BeginForm("Stats", "Courts", FormMethod.Post))
{
    <p>
        Sportoviště: @Html.DropDownList("Sport", new SelectList(new SportsApp().GetListNames())) <br />
        Od: <input class="myInput" name="dateFrom" date-type="date" id="datepicker" value=@ViewBag.dateFrom /><br />
        Do: <input class="myInput" name="dateTo" date-type="date" id="datepicker2" value=@ViewBag.dateTo /><br />
        <input type="submit" value="Odeslat" class="btn btn-default" />
    </p>
} 
<h3>@ViewBag.Sport</h3>
<table class="table">
    <tr>
        <th>
            Kurt
        </th>
        <th>
            Počet rezervací
        </th>
        <th>
            Výnos
        </th>
        <th>
            Průměrný výnos 
        </th>
    </tr>
@{ 
    CourtsApp app = new CourtsApp();
}
@foreach (var item in Model)
{
    <tr>
        @{
            int count = app.getCountOfReservations(item.Id, DateTime.ParseExact(ViewBag.DateFrom, "dd.MM.yyyy", ViewBag.InvariantCulture),
                DateTime.ParseExact(ViewBag.DateTo, "dd.MM.yyyy", ViewBag.InvariantCulture));
            double gain = app.getGain(item.Id, DateTime.ParseExact(ViewBag.DateFrom, "dd.MM.yyyy", ViewBag.InvariantCulture),
                DateTime.ParseExact(ViewBag.DateTo, "dd.MM.yyyy", ViewBag.InvariantCulture));
            double mean = gain / count;
            if (Double.IsNaN(mean)) { mean = 0; }
        }
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @count
        </td>
        <td>
            @gain Kč
        </td>
        <td>
            @mean Kč
        </td>
    </tr>
}

</table>

 @{ 
     List<List<List<Reservation>>> ListOfDays = new List<List<List<Reservation>>>();
     ListOfDays = ViewBag.ListOfReserv;
     List<Reservation_Time> times = new List<Reservation_Time>();
     times = ViewBag.Times;
     int i = 0;
     int j = 0;
 }
@foreach (List<List<Reservation>> ListOfCourtsRes in ListOfDays)
{
    DateTime d = DateTime.ParseExact(ViewBag.DateFrom, "dd.MM.yyyy", ViewBag.InvariantCulture);
    d = d.AddDays(i);
    <div>Den: @d.ToString("dd.MM.yyyy")</div>
    i++;
    <table border="0">
        <tr>
            <td>
            </td>
        @foreach (Reservation_Time t in times)
                {
                <td style="writing-mode:sideways-lr">@t.Time</td>
        }
            </tr>
        @foreach (List<Reservation> ListOfReserv in ListOfCourtsRes)
        {
            <tr>
                <td>
                    @{
                        @app.GetActualName(Model, j);
                        j++;
                     }
                </td>
                @foreach (Reservation_Time time in times)
                {
                    if (app.Contains(ListOfReserv, time))
                    {
                        <td style="background-color: red;"></td>
                    }
                    else
                    {
                        <td  style="background-color:#33FF00;"></td>
                    }
                    
                }
            </tr>
        }

    </table>
    <br/>
    <br/>
}

