@model List<ReservationByDay>
@using RPRO_SportSoft.Application;

@{
    ViewBag.Title = "Statistika";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Statistiky</h2>
@using (Html.BeginForm("Stats", "Courts", FormMethod.Post))
{
    <p>
        Sportoviště: @Html.DropDownList("Sport", new SelectList(new SportsApp().GetListNames())) <br />
        Od: <input class="myInput" name="dateFrom" date-type="date" id="datepicker" value=@ViewBag.dateFrom /><br />
        Do: <input class="myInput" name="dateTo" date-type="date" id="datepicker2" value=@ViewBag.dateTo /><br />
        <input type="submit" value="Odeslat" class="btn btn-default" />
    </p>
} 
<h3>@ViewBag.Sport</h3>
<table class="table">
    <tr>
        <th>
            Kurt
        </th>
        <th>
            Počet rezervací
        </th>
        <th>
            Výnos
        </th>
        <th>
            Průměrný výnos 
        </th>
    </tr>
@{ 
    CourtsApp app = new CourtsApp();
}
@foreach (CrateCurtGain item in ViewBag.CrateList)
{
    <tr>
        <td>
            @item.name
        </td>
        <td>
            @item.count.ToString("F")
        </td>
        <td>
            @item.gain.ToString("F")
        </td>
        <td>
            @{
                double mean = item.gain / item.count;
                if (Double.IsNaN(mean)) {mean = 0;}
             }
            @mean.ToString("F") Kč
        </td>
    </tr>
}

</table>

 
@foreach (ReservationByDay item in Model)
{
    <table border="0">
       @for(int j = 0; j < 7; j++) {
           <tr>
               @for(int i = 19;i<43;i++) {
                   <td>@item.allDays[j][i]</td>
               }
           </tr>
       }
    </table>
    <br/>
    <br/>
}

