@model CourtListP

@{
    ViewBag.Title = "Kurty";
    Layout = "~/Views/Shared/_Layout.cshtml";
    String login = "";
    if (Session["Role"] == null)
    {
        Session["Role"] = "";
    }
    if (Session["Logged"] == null)
    {
        Session["Logged"] = "";

    }
    else
    {
        login = Session["Logged"].ToString();
    }

}
<script src="~/Scripts/toastr.js"></script>
<h2>Správa kurtů pro:  @Html.DisplayFor(modelItem => Model.sportName)</h2>
@if (TempData["MessageDeleteCourt"] != null)
{
    <script language="javascript">
        toastr.options = {
            "closeButton": false,
            "debug": false,
            "newestOnTop": false,
            "progressBar": false,
            "positionClass": "toast-bottom-right",
            "preventDuplicates": false,
            "onclick": null,
            "showDuration": "300",
            "hideDuration": "1000",
            "timeOut": "5000",
            "extendedTimeOut": "1000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        }
        toastr.success('@TempData["MessageDeleteCourt"]');
    </script>
}
@if (TempData["MessageCreateCourt"] != null)
{
    <script language="javascript">
        toastr.options = {
            "closeButton": false,
            "debug": false,
            "newestOnTop": false,
            "progressBar": false,
            "positionClass": "toast-bottom-right",
            "preventDuplicates": false,
            "onclick": null,
            "showDuration": "300",
            "hideDuration": "1000",
            "timeOut": "5000",
            "extendedTimeOut": "1000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        }
        toastr.success('@TempData["MessageCreateCourt"]');
    </script>
}


<p>
    @Html.ActionLink("Vytvořit nový kurt", "Create", "Courts", new { sport = Model.sportId }, null)
</p>

<table class="table">
    <tr>
        <th>
            Kurt
        </th>
        <th>
            Možnosti
        </th>
    </tr>
    @foreach (var item in Model.list) {
        <tr class="default">
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.ActionLink("Upravit", "Edit", "Courts", new { id = item.Id }, null)
                |
                @Html.ActionLink("Vymazat", "Delete", "Courts", new { id = item.Id }, null)

            </td>
        </tr>
    }
</table>

@Html.ActionLink("Zpět","Index")

