@model Sport

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Smazání sportoviště</h2>
@ViewBag.MyMessageToUser 

<div>
    @*<h4>Sportoviště</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

    </dl>*@
    
    @if (ViewBag.MyMessageToUser == null)
    {
        <h3>Opravdu chcete vymazat sportoviště @Html.DisplayFor(model => model.Name)?</h3>
        using (Html.BeginForm())
        {
           @Html.AntiForgeryToken()

           
               <input type="submit" value="Vymazat" class="btn btn-default" /> 
              
          
        }
        
    }
</div>
</br>
@Html.ActionLink("Zpět na výpis", "Index")
