@model CourtListP

@{
    ViewBag.Title = "Kurty";
    Layout = "~/Views/Shared/_Layout.cshtml";
    String login = "";
    if (Session["Role"] == null)
    {
        Session["Role"] = "";
    }
    if (Session["Logged"] == null)
    {
        Session["Logged"] = "";

    }
    else
    {
        login = Session["Logged"].ToString();
    }

}

<h2>Kurty sportoviště:  @Html.DisplayFor(modelItem => Model.sportName)</h2>

@using (Html.BeginForm("Details", "Sports", FormMethod.Get))
{
    String m = "\xa0\xa0";
    String m2 = "\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0";
    String o = "Opakovaná rezervace:";
    String p = "Počet opakování:";

    <div style="display:inline-block; white-space: nowrap;">
    Datum: <input class="myInput" name="date" size="10" date-type="date" id="datepicker" value="@ViewBag.Date" onchange="submitform()" />
    @m.ToString()
    Jedna rezervace: @Html.RadioButton("radio", "one", new { onchange = "this.form.submit();" })
    </div>
    <div style="display:inline-block; white-space: nowrap;">
            @m2.ToString()
            @o.ToString()
            @Html.RadioButton("radio", "more", new { onchange = "this.form.submit();" })
            @if ("more".Equals(ViewBag.Radio))
            {
                @m.ToString()
                @p.ToString()
                <input class="myInput" name="count" size="10" type="number" min="1" value="@ViewBag.Count" oninput="submitdateform()" />
            }
            else
            {
                <input class="myInput" name="count" type="hidden" value="1">
            }
    </div>

}
<div id="DTable">
    @{Html.RenderPartial("DetailsTable", Model);}
</div>
<br />
@Html.ActionLink("Zpět", "Index")


<br />
<script>
    $(function () {
        $("#datepicker").datepicker();
    });
    $("#datepicker").datepicker({ minDate: 0 });

    function submitdateform() {
        $("#DTable").load('@(Url.Action("ChangeActive", "Main", null, Request.Url.Scheme))?Email=' + email);
    }
</script>

