@model CourtListP

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
    String login = "";
    if (Session["Role"] == null)
    {
        Session["Role"] = "";
    }
    if (Session["Logged"] == null)
    {
        Session["Logged"] = "";

    }
    else
    {
        login = Session["Logged"].ToString();
    }

}

<h2>Kurty sportoviště:  @Html.DisplayFor(modelItem => Model.sportName)</h2>

@using (Html.BeginForm("Details", "Sports", FormMethod.Get))
{
<input name="date" date-type="date" id="datepicker" value="@ViewBag.Date"  onchange="submitform()"/><br>
<div>Počet týdenních opakování:</div> <input name="count" type="number" min="1" value=@ViewBag.Count  onchange="submitform()"/>    
}
 
<table border="0">
    <tr>
        @foreach (var item in Model.list)
        {
            <td class="default">
                <h3>@Html.DisplayFor(modelItem => item.Name)</h3>
                <table border="1">
                    @foreach (var t in ViewBag.Times)
                {
                        <tr>
                            @foreach (KeyValuePair<string, List<int>> pairs in ViewBag.Reservations)
                    {
                        if (pairs.Key == item.Name)
                        {
                            bool taken = false;
                            foreach (int p in pairs.Value)
                            {

                                if (p == t.Id)
                                {
                                    taken = true;
                                }
                                                        }
                            if (taken)
                            {
                                        <td style="background-color: red;">@t.Time</td>
                                    }
                                    else
                                    {
                                        <td style="background-color:#33FF00; cursor: pointer;" onclick="location.href = '@(Url.Action("Reservation", "Sports", new { id = item.Id, time = t.Time, sport = item.Name, date = DateTime.ParseExact((String)ViewBag.Date,"dd.MM.yyyy", ViewBag.InvariantCulture).ToBinary(), user = login, weekCount = @ViewBag.Count }))'">@t.Time</td>
                                    }
                                }
                            }
                        </tr>

                    }
                </table>
            </td>
        }
    </tr>
</table>
<br />
    <table class="table">
        <tr></tr>

        @foreach (var item in Model.list)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @{
                        String role = Session["Role"].ToString();
                        if (role.Equals("Owner"))
                        {
                            @Html.ActionLink("Upravit", "Edit", "Courts", new { id = item.Id }, null)
                            String pom = " | ";
                            @pom.ToString();
                            @Html.ActionLink("Vymazat", "Delete", "Courts", new { id = item.Id }, null)
                            @pom.ToString();

                        }
                    }
                    
                </td>
            </tr>
                        }

    </table>
    <br />
    @{
        String r = Session["Role"].ToString();
        if (r.Equals("Owner"))
        {
            <p>
                @Html.ActionLink("Vytvořit nový kurt", "Create", "Courts", new { sport = Model.sportId }, null)
            </p>
        }
    }

    <br />
    <script>
        $(function () {
            $("#datepicker").datepicker();
        });
        $("#datepicker").datepicker({ minDate: 0 });
       
        function submitform() {
            $('form').submit();
        }
    </script>

