@model CourtListP

@{
    ViewBag.Title = "Kurty";
    Layout = "~/Views/Shared/_Layout.cshtml";
    String login = "";
    if (Session["Role"] == null)
    {
        Session["Role"] = "";
    }
    if (Session["Logged"] == null)
    {
        Session["Logged"] = "";

    }
    else
    {
        login = Session["Logged"].ToString();
    }

}

<h2>Kurty sportoviště:  @Html.DisplayFor(modelItem => Model.sportName)</h2>

@using (Html.BeginForm("Details", "Sports", FormMethod.Get))
{
    String m = "\xa0\xa0";
    String m2 = "\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0";
    String o = "Opakovaná rezervace:";
    String p = "Počet opakování:";

    <div style="display:inline-block; white-space: nowrap;">
    Datum: <input class="myInput" name="date" size="10" date-type="date" id="datepicker" value="@ViewBag.Date" onchange="submitform()" />
    @m.ToString()
    Jedna rezervace: @Html.RadioButton("radio", "one", new { onchange = "this.form.submit();" })
    </div>
    <div style="display:inline-block; white-space: nowrap;">
            @m2.ToString()
            @o.ToString()
            @Html.RadioButton("radio", "more", new { onchange = "this.form.submit();" })
            @if ("more".Equals(ViewBag.Radio))
            {
                @m.ToString()
                @p.ToString()
                <input class="myInput" name="count" size="10" type="number" min="1" value="@ViewBag.Count" oninput="submitform()" onClick="this.select();" />
            }
            else
            {
                <input class="myInput" name="count" type="hidden" value="1">
            }
    </div>

}

<table border="0">
    @foreach (var item in Model.list)
    {
        <tbody class="reserv">
            <tr>
                <td colspan="12"> <h3 style="text-align:left">@Html.DisplayFor(modelItem => item.Name)</h3></td>
            </tr>
            <tr>
                @for (int i = 0; i < ViewBag.Times.Length; i += 2)
                {
                    foreach (KeyValuePair<string, List<int>> pairs in ViewBag.Reservations)
                    {
                        if (pairs.Key == item.Name)
                        {
                            bool taken = false;
                            foreach (int p in pairs.Value)
                            {
                                if (p == ViewBag.Times[i].Id)
                                {
                                    taken = true;
                                }
                            }
                            String date = ViewBag.Date;
                            //var time = ViewBag.Times[i].Time;
                            //var resTime = DateTime.Parse(time);
                            //var dateString = DateTime.Now.ToString("dd.MM.yyyy hh:mm:ss");
                            //var usertime = DateTime.Parse(dateString);
                            if (date.Equals(DateTime.Now.ToString("dd.MM.yyyy")) /*&& (resTime < usertime)*/)
                            {
                                <td style="background-color: silver;">@ViewBag.Times[i].Time</td>
                            }
                            else if (taken)
                            {
                                <td style="background-color: red;">@ViewBag.Times[i].Time</td>
                            }
                            else
                            {
                                <td style="background-color:#33FF00; cursor: pointer;" onclick="location.href = '@(Url.Action("Reservation", "Sports", new { id = item.Id, time = ViewBag.Times[i].Time, sport = item.Name, date = DateTime.ParseExact((String)ViewBag.Date,"dd.MM.yyyy", ViewBag.InvariantCulture).ToBinary(), user = login, weekCount = @ViewBag.Count, radio = @ViewBag.Radio }))'">@ViewBag.Times[i].Time</td>
                            }
                        }
                    }
                }
            </tr>
            <tr>
                @for (int i = 1; i < ViewBag.Times.Length; i += 2)
                {
                    foreach (KeyValuePair<string, List<int>> pairs in ViewBag.Reservations)
                    {
                        if (pairs.Key == item.Name)
                        {
                            bool taken = false;
                            foreach (int p in pairs.Value)
                            {
                                if (p == ViewBag.Times[i].Id)
                                {
                                    taken = true;
                                }
                            }
                            String date = ViewBag.Date;
                            //var time = ViewBag.Times[i].Time;
                            //var resTime = DateTime.Parse(time);
                            //var dateString = DateTime.Now.ToString("dd.MM.yyyy hh:mm:ss");
                            //var usertime = DateTime.Parse(dateString);
                            if (date.Equals(DateTime.Now.ToString("dd.MM.yyyy")) /*&& (resTime < usertime)*/)
                            {
                                <td style="background-color: silver;">@ViewBag.Times[i].Time</td>
                            }
                            else if (taken)
                            {
                                <td style="background-color: red;">@ViewBag.Times[i].Time</td>
                            }
                            else
                            {
                                <td style="background-color:#33FF00; cursor: pointer;" onclick="location.href = '@(Url.Action("Reservation", "Sports", new { id = item.Id, time = ViewBag.Times[i].Time, sport = item.Name, date = DateTime.ParseExact((String)ViewBag.Date,"dd.MM.yyyy", ViewBag.InvariantCulture).ToBinary(), user = login, weekCount = @ViewBag.Count, radio = @ViewBag.Radio }))'">@ViewBag.Times[i].Time</td>
                            }
                        }
                    }
                }
            </tr>
        </tbody>
            }
</table>

<br />
@Html.ActionLink("Zpět", "Index")


<br />
<script>
    $(function () {
        $("#datepicker").datepicker();
    });
    $("#datepicker").datepicker({ minDate: 0 });

    function submitform() {
        $('form').submit();
    }
</script>

