@model CourtListP

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Kurty sportoviště:  @Html.DisplayFor(modelItem => Model.sportName)</h2>

<p>
</p>
<table class="table">
    <tr>
    </tr>

        @foreach (var item in Model.list)
        {

        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.ActionLink("Upravit", "Edit", "Courts", new { id = item.Id }, null)
                @Html.ActionLink("Vymazat", "Delete", "Courts", new { id = item.Id }, null)
                @Html.ActionLink("Rezervovat", "Reservation", "Courts", new { id = item.Id}, null)
            </td>
        </tr>
    }

</table>
<br />
<p>
    @Html.ActionLink("Vytvořit nový kurt", "Create", "Courts", new { sport = Model.sportId }, null)
</p>
    @Html.ActionLink("Zpět", "Index", "Sports")
