@model IEnumerable<Sport>

    @{
        ViewBag.Title = "Sportoviště";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }

    <h2>Seznam sportovišť</h2>
    

    <table class="table">
        <tr>
            <th>
                @*@Html.DisplayNameFor(model => model.Name)*@
            </th>
            <th></th>
        </tr>

  @foreach (var item in Model)
    {

            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                  @*  @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |*@
               @Html.ActionLink("Kurty", "Details", new { id = item.Id }) 
@{
    String role = Session["Role"].ToString();
    if (role.Equals("Owner"))
    {
        String pom = " | ";
        @pom.ToString();
        @Html.ActionLink("Upravit", "Edit", new { id = item.Id }) 
        @pom.ToString();
        @Html.ActionLink("Vymazat", "Delete", new { id = item.Id })
    }
}
                </td>
            </tr>

    }

        </table>
    <br />
    <p>
        @Html.ActionLink("Vytvořit nové sportoviště", "Create", new { boo = true, sport = "" })
    </p>

    <br />

