@model Reservation
@using RPRO_SportSoft.Application;
@{
    ViewBag.Title = "Rezervace kurtu";
    Layout = "~/Views/Shared/_Layout.cshtml";
    String time = ViewBag.Time;
}

<h2>Rezervace</h2>

@using (Html.BeginForm("Reservation", "Sports", FormMethod.Post)) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Rezervace kurtu: @ViewBag.Sport</h4>
        <hr />
        Datum: @ViewBag.DateString 
        <br />
        Čas: @ViewBag.Time
        <br />
        Počet opakování rezervace: @ViewBag.Count
        <br />
        Doba rezervace: @Html.DropDownList("number", new SelectList(new ReservationsApp().ListOfNumbers(ViewBag.DateBinary, ViewBag.Sport, ViewBag.Time))) <br />
        @Html.Hidden("id", (object)ViewBag.Id)
        @Html.Hidden("time", (object)ViewBag.Time)
        @Html.Hidden("date", (object)ViewBag.DateBinary)
        @Html.Hidden("user", (object)ViewBag.User)
        @Html.Hidden("weekCount", (object)ViewBag.Count)
       <input type="submit" value="Rezervovat" />
    </div>
}

<div>
    @Html.ActionLink("Zrušit", "Index")
</div>
