@model Reservation
@using RPRO_SportSoft.Application;
@{
    ViewBag.Title = "Rezervace kurtu";
    Layout = "~/Views/Shared/_Layout.cshtml";
    String time = ViewBag.Time;
}

<h2>Rezervace</h2>

@using (Html.BeginForm("Reservation", "Sports", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Rezervace kurtu: @ViewBag.Sport</h4>
        <hr />
        Datum: @ViewBag.DateString 
        <br />
        Čas: @ViewBag.Time
        <br />
        
        Délka rezervace: @Html.DropDownList("number", new SelectList(new ReservationsApp().ListOfNumbers(ViewBag.DateBinary, ViewBag.Sport, ViewBag.Time))) <br />
        @Html.Hidden("id", (object)ViewBag.Id)
        @Html.Hidden("time", (object)ViewBag.Time)
        @Html.Hidden("date", (object)ViewBag.DateBinary)
        @Html.Hidden("user", (object)ViewBag.User)
        @Html.Hidden("weekCount", (object)ViewBag.Count)
        Počet opakování rezervace: @ViewBag.Count 
        <br />
       <input type="submit" value="Rezervovat" class="btn btn-default"/>
    </div>
    <a href="javascript:history.go(-1)">Zpět</a>
}

