@model Reservation

@{
    ViewBag.Title = "Reservation";
    Layout = "~/Views/Shared/_Layout.cshtml";
    String time = ViewBag.Time;
}

<h2>Rezervace</h2>

@using (Html.BeginForm("Reservation", "Sports", FormMethod.Post)) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Rezervace kurtu: @ViewBag.Sport</h4>
        <hr />
        Čas: @ViewBag.Time
        <br />
        Datum: @ViewBag.DateString<br />
        @Html.Hidden("id", (object)ViewBag.Id)
        @Html.Hidden("time", (object)ViewBag.Time)
        @Html.Hidden("date", (object)ViewBag.DateBinary)
        @Html.Hidden("user", (object)ViewBag.User)
       <input type="submit" value="Rezervovat" />
    </div>
}

<div>
    @Html.ActionLink("Zrušit", "Index")
</div>
