@model User
@using RPRO_SportSoft.Application;

    @{
        ViewBag.Title = "Správa účtu";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }

    <h2>Správa účtu</h2>
    <br />
@ViewBag.MessagePasswordChanged
    <b>Jméno:</b> @Html.DisplayFor(model => model.Name)<br />
    <b>Telefon:</b> @Html.DisplayFor(model => model.Phone)<br />
    <b>E-mail:</b> @Html.DisplayFor(model => model.Email)<br />

    <br />
    <br />
    @Html.ActionLink("Upravit údaje", "Edit", "Main", new { e = Model.Email }, null)<br />
    @Html.ActionLink("Změna hesla", "EditPass", "Main", new { e = Model.Email }, null)