@model User

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Registrace </h2>
@ViewBag.MessageCreate
<div id="regForm" onload="notif()">
    @using (Html.BeginForm("Create", "Main", FormMethod.Post))
    {
        <p>
            Email: @Html.TextBox("UserEmail", Model.Email, new { @class = "email form-control", type = "email", placeholder = "jmeno@domena.com", required = "required" }) <br />
            Heslo: @Html.Password("UserPass", "", new { @class = "password form-control", required = "required", name = "pass1", id = "pass1" })<br />
            Potvrzení hesla: @Html.Password("UserPass2", "", new { @class = "password form-control", required = "required", name = "pass2", id = "pass2", onkeyup = "checkPass(); return false;" })<br />
            <span id="confirmMessage" class="confirmMessage"></span><br /><br />
            Jméno: @Html.TextBox(("Name"), Model.Name, new { @class = "form-control", onkeydown = "return validateTextBox(event, this);", placeholder = "", required = "required" }) <br />
            Příjmení: @Html.TextBox(("SurName"), Model.Name, new { @class = "form-control", onkeydown = "return validateTextBox(event, this);", placeholder = "", required = "required" }) <br />
            Telefon: @Html.TextBox("Phone", Model.Phone, new { @class = "form-control", required = "required" })<br />
            
            <input type="submit" value="Registrovat" />

        </p>
    }
</div>

<script src="~/Scripts/toastr.js"></script>
<script type="text/javascript">

    function notif() {
        toastr.options = {
            "closeButton": false,
            "debug": false,
            "newestOnTop": false,
            "progressBar": false,
            "positionClass": "toast-bottom-right",
            "preventDuplicates": false,
            "onclick": null,
            "showDuration": "300",
            "hideDuration": "1000",
            "timeOut": "5000",
            "extendedTimeOut": "1000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        }

        toastr.success("asd");

    };

</script>
<script>
    function checkPass() {

        var pass1 = document.getElementById('pass1');
        var pass2 = document.getElementById('pass2');
        //var message = document.getElementById('confirmMessage');
        var goodColor = "#66cc66";
        var badColor = "#ff6666";
        if (pass1.value == pass2.value) {
            pass2.style.backgroundColor = goodColor;
            //message.style.color = goodColor;
            //message.innerHTML = ""
            toastr.clear()
        } else {
            pass2.style.backgroundColor = badColor;
            //message.style.color = badColor;
            //message.innerHTML = "Hesla se neshodují!"
            toastr.options = {
                "closeButton": false,
                "debug": false,
                "newestOnTop": false,
                "progressBar": false,
                "positionClass": "toast-bottom-right",
                "preventDuplicates": true,
                "onclick": null,
                "showDuration": "300",
                "hideDuration": "1000",
                "timeOut": "5000",
                "extendedTimeOut": "1000",
                "showEasing": "swing",
                "hideEasing": "linear",
                "showMethod": "fadeIn",
                "hideMethod": "fadeOut"
            }

            toastr.error("Hesla se neshodují!");
        }
    }
</script>