@model User

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_LayoutForHost.cshtml";
}

<h2>Registrace </h2>
@ViewBag.MessageCreate
@using (Html.BeginForm("Create", "Main", FormMethod.Post))
{
    <p>
        Email: @Html.TextBox("UserEmail", Model.Email, new { @class = "email", type = "email", placeholder = "jmeno@domena.com", required = "required" }) <br />
        Heslo: @Html.Password("UserPass", Model.Password, new { @class = "password", required = "required" })<br />
        Role: @Html.DropDownList("UserRole", new SelectList(new List<String>() { "Zákazník", "Majitel" }))<br />
            <input type="submit" value="Registrovat" />
</p>
}
</br>
<div>
    @Html.ActionLink("Zpět na přihlášení", "Index")
</div>
