@model RPRO_SportSoft.User

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    String[] names = Model.Name.Split(' ');
    String name = names[0];
    String surname = names[1];
}

<h2>Upravit údaje</h2>
@ViewBag.MyMessageToUser
@using (Html.BeginForm("Edit", "Main", FormMethod.Post))


{
    <p>
        @Html.Hidden("oldEmail", Model.Email)
        Jméno: @Html.TextBox(("Name"), name, new { @class = "form-control", onkeydown = "return validateTextBox(event, this);", placeholder = "", required = "required" }) <br />
        Příjmení: @Html.TextBox(("SurName"), surname, new { @class = "form-control", onkeydown = "return validateTextBox(event, this);", placeholder = "", required = "required" }) <br />
        Telefon: @Html.TextBox("Phone", Model.Phone, new { @class = "form-control", required = "required" })<br />
        <br />
        <input type="submit" value="Uložit změny" />
    </p>
}