@model RPRO_SportSoft.User

@{
    ViewBag.Title = "EditPass";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Změna hesla</h2>
@ViewBag.MessageChangingPassword
@using (Html.BeginForm("EditPass", "Main", FormMethod.Post))
{
    <p>
        @Html.Hidden("e", Model.Email)
        Staré heslo: @Html.Password("oldPass", "", new { @class = "password form-control", required = "required"})<br />
        Nové heslo: @Html.Password("newPass", "", new { @class = "password form-control", required = "required", name = "pass1", id = "pass1" })<br />
        Potvrzení hesla: @Html.Password("newPass2", "", new { @class = "password form-control", required = "required" , name = "pass2", id = "pass2", onkeyup = "checkPass(); return false;" })<br />
        <span id="confirmMessage" class="confirmMessage"></span>
        <input type="submit" value="Změnit heslo" />

    </p>
}

<script>
function checkPass()
{
    
    var pass1 = document.getElementById('pass1');
    var pass2 = document.getElementById('pass2');
    var message = document.getElementById('confirmMessage');
    var goodColor = "#66cc66";
    var badColor = "#ff6666";
    if(pass1.value == pass2.value){
        pass2.style.backgroundColor = goodColor;
        message.style.color = goodColor;
        message.innerHTML = ""
    }else{
        pass2.style.backgroundColor = badColor;
        message.style.color = badColor;
        message.innerHTML = "Hesla se neshodují!"
    }
}
    </script>

<div>
    @Html.ActionLink("Zpět", "Account", Model.Email)
</div>
