@model User
@{
    ViewBag.Title = "SportSoft";
    Layout = "~/Views/Shared/_Layout.cshtml";
   // <link href="~/Content/bootstrap.min.css" rel="stylesheet">


}
</br>
<h2>Úvodní stránka</h2> 
    LIVE Verze na Azure s DB.
    </br>


@*<input id="datepicker">*@
@section Header {
    <section class="header">
        @if (ViewBag.MessageLogin != null)
        {
            <script src="~/Scripts/toastr.js"></script>
            <script language="javascript">
        toastr.options = {
            "closeButton": false,
            "debug": false,
            "newestOnTop": false,
            "progressBar": false,
            "positionClass": "toast-top-right",
            "preventDuplicates": false,
            "onclick": null,
            "showDuration": "300",
            "hideDuration": "1000",
            "timeOut": "5000",
            "extendedTimeOut": "1000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        }
        toastr.warning('@ViewBag.MessageLogin');
            </script>
        }
      @using (Html.BeginForm("Index", "Main", FormMethod.Post, new { @class = "login-form"}))
      {
        <p>
            Email: @Html.TextBox("UserEmail", Model.Email, new { @class = "email", type = "email", placeholder = "jmeno@domena.com", required = "required" }) 
            Heslo: @Html.Password("UserPass", Model.Password, new { @class = "password", required = "required"})
            <input type="submit" value="Přihlásit" />
            @Html.ActionLink("Registrace", "Create", "Main")
            @Html.ActionLink("Zapomenuté heslo", "ForgottenPass", "Main")
        </p>
      }
       
       </section>
    
    }


</br>

