@model User
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
   // <link href="~/Content/bootstrap.min.css" rel="stylesheet">
}
</br>
<h2>Úvodná stránka </br>
    LIVE Verze na Azure s DB.
    </h2>

@section Header {
    <section class="header">
      <h4>Přihlášení:</h4>
      @ViewBag.MessageLogin
      @using (Html.BeginForm("Index", "Main", FormMethod.Post))
       {
        <p>
            Email: @Html.TextBox("UserEmail", Model.Email, new { @class = "email", type = "email", placeholder = "jmeno@domena.com", required = "required" }) <br />
            Heslo: @Html.Password("UserPass", Model.Password, new { @class = "password", required = "required" })<br />
            <input type="submit" value="Přihlásit" />
        </p>
        }
        @Html.ActionLink("Registrace", "Create", "Main")
        @Html.ActionLink("email", "sendEmail", "Main")
    </section>
    
    }


</br>

