@model User
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutForHost.cshtml";
}

<h2>Přihlášení</h2>
@ViewBag.MessageLogin
@using (Html.BeginForm("Index", "Main", FormMethod.Post))
{
    <p>
        Email: @Html.TextBox("UserEmail", Model.Email, new { @class = "email", type = "email", placeholder = "jmeno@domena.com", required = "required" }) <br />
        Heslo: @Html.Password("UserPass", Model.Password, new { @class = "password", required = "required" })<br />
        <input type="submit" value="Přihlásit" />
    </p>
}
</br>

@Html.ActionLink("Registrace", "Create", "Main")
@Html.ActionLink("email", "sendEmail", "Main")