@model User
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
   // <link href="~/Content/bootstrap.min.css" rel="stylesheet">


}
</br>
<h2>Úvodní stránka</h2> 
    LIVE Verze na Azure s DB.
    </br>


@*<input id="datepicker">*@
@section Header {
    <section class="header">
      @ViewBag.MessageLogin
      @using (Html.BeginForm("Index", "Main", FormMethod.Post, new { @class = "login-form"}))
      {
        <p>
            Email: @Html.TextBox("UserEmail", Model.Email, new { @class = "email", type = "email", placeholder = "jmeno@domena.com", required = "required" }) 
            Heslo: @Html.Password("UserPass", Model.Password, new { @class = "password", required = "required" })
            <input type="submit" value="Přihlásit" />
            @Html.ActionLink("Registrace", "Create", "Main")
            @Html.ActionLink("Zapomenuté heslo", "ForgottenPass", "Main")
        </p>
      }
       
       </section>
    
    }


</br>

