@model IEnumerable<RPRO_SportSoft.User>


<table class="table">
    <tr>
        <th>
            Jméno ↑@Html.CheckBox("NameUp")  ↓@Html.CheckBox("NameDown")
        </th>
        <th>
            Telefon
        </th>
        <th>
            Email ↑@Html.CheckBox("EmailUp")  ↓@Html.CheckBox("EmailDown")
        </th>
        <th>
            Role
        </th>
        <th>
            Aktivní
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
               @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Role)
            </td>
            @*<td>
                    @Html.Hidden("Active", item.Active)
                    @if (item.Active.Equals("Yes"))
                    { 
                        <input checked name="Active" type='checkbox' onclick="ActiveChange(@item.Email)">
                    }
                    else
                    {
                        <input name="Active" type='checkbox' onclick="ActiveChange(@item.Email)">

                    }
             </td>*@
            <td>
                <div class="ActiveCB">
                    @Html.CheckBox(item.Email, item.Active.Equals("Yes"))
                </div>
            </td>
        </tr>
    }

</table>
