@model IEnumerable<RPRO_SportSoft.User>


<table class="table">
    <tr>
        <th>
            Jméno <a href="#" class="myButton" onclick="NameUp()">↑</a> <a href="#" class="myButton" onclick="NameDown()">↓</a>
        </th>
        <th>
            Telefon
        </th>
        <th>
            Email <a href="#" class="myButton" onclick="EmailUp()">↑</a> <a href="#" class="myButton" onclick="EmailDown()">↓</a>
        </th>
        <th>
            Role
        </th>
        <th>
            Aktivní
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Role)
            </td>
            <td>
                <div class="ActiveCB">
                    @Html.CheckBox(item.Email, item.Active.Equals("Yes"))
                </div>
            </td>
        </tr>
    }

</table>

<script src="~/Scripts/toastr.js"></script>
<script type="text/javascript">

    $(document).ready(function () {
        toastr.options = {
            "closeButton": false,
            "debug": false,
            "newestOnTop": false,
            "progressBar": false,
            "positionClass": "toast-bottom-right",
            "preventDuplicates": false,
            "onclick": null,
            "showDuration": "300",
            "hideDuration": "1000",
            "timeOut": "5000",
            "extendedTimeOut": "1000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        }

       $(".ActiveCB").change(function (A) {
           var email = A.target.name;
           $("#dvUsersList").load('@(Url.Action("ChangeActive", "Main", null, Request.Url.Scheme))?Email=' + email);
            email = "U učtu s emailem: " + email + " byl změněn stav";
            toastr.success(email);
 });
    });

</script>
<script type="text/javascript">

    function NameUp() {
        $("#dvUsersList").load('@(Url.Action("SortUsers", "Main", null, Request.Url.Scheme))?flag=' + 1);
    }
    function NameDown() {
        $("#dvUsersList").load('@(Url.Action("SortUsers", "Main", null, Request.Url.Scheme))?flag=' + 2);
    }
    function EmailUp() {
        $("#dvUsersList").load('@(Url.Action("SortUsers", "Main", null, Request.Url.Scheme))?flag=' + 3);
    }
    function EmailDown() {
        $("#dvUsersList").load('@(Url.Action("SortUsers", "Main", null, Request.Url.Scheme))?flag=' + 4);
    }

</script>

@*  flag = 1 pro serazení podle jmena vzestupne
    flag = 2 pro serazení podle jmena sestupne
    flag = 3 pro serazení podle emailu vzestupne
    flag = 4 pro serazení podle emailu sestupne  *@