@model IEnumerable<RPRO_SportSoft.User>

@{
    ViewBag.Title = "Users";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Správa uživatelů</h2>

<div id="container">


    <br /><br />
    <div id="dvUsersList">
        @{Html.RenderPartial("ListUser", Model);}
    </div>
</div>
<script type="text/javascript">
    ! function chan() {
        $(document).ready(function () {
            $(".ActiveCB").change(function (A) {
                var email = A.target.name;
                $("#dvUsersList").load('@(Url.Action("ChangeActive", "Main", null, Request.Url.Scheme))?Email=' + email);
                alert("U učtu s emailem: " + email + " byl změněn stav");
                setTimeout(chan, 10);
            });
        });
    }();
</script>

@*  flag = 1 pro serazení podle jmena vzestupne
    flag = 2 pro serazení podle jmena sestupne
    flag = 3 pro serazení podle emailu vzestupne
    flag = 4 pro serazení podle emailu sestupne  *@

<script type="text/javascript">
    ! function nup() {
        $(document).ready(function () {
            $("#NameUp").change(function () {
                $("#dvUsersList").load('@(Url.Action("SortUsers", "Main", null, Request.Url.Scheme))?flag=' + 1);
                setTimeout(nup, 10);
            });
        });
    }();

    ! function ndown() {
        $(document).ready(function () {
            $("#NameDown").change(function () {
                $("#dvUsersList").load('@(Url.Action("SortUsers", "Main", null, Request.Url.Scheme))?flag=' + 2);
                setTimeout(ndown, 10);
            });
        });
    }();

    ! function eup() {
        $(document).ready(function () {
            $("#EmailUp").change(function () {
                $("#dvUsersList").load('@(Url.Action("SortUsers", "Main", null, Request.Url.Scheme))?flag=' + 3);
                setTimeout(eup, 10);
            });
        });
    }();

    ! function edown() {
        $(document).ready(function () {
            $("#EmailDown").change(function () {
                $("#dvUsersList").load('@(Url.Action("SortUsers", "Main", null, Request.Url.Scheme))?flag=' + 4);
                setTimeout(edown, 10);
            });
        });
    }();
</script>