<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <link href="~/Content/bootstrap.min.css" rel="stylesheet">
    <meta charset="utf-8" />
    <style type="text/css">
        body {
            background-image: url(http://www.abilenecountryclub.com/Golf/Golf-Calendar/tennis3.aspx?width=2600&height=1347&ext=.jpg);
            font-family: Verdana, Arial;
            margin: 50px;
        }

        form {
            padding: 10px;
            border-style: solid;
            width: 250px;
        }

        .title{
               //border: 1px green solid;
              // margin-top: 10px;
            text-align: right;
            margin-left: auto;
            margin-right: auto;
            max-width: 980px;
        }

        .main {
            box-shadow: 0 0 60px #000033;
            margin-top: 20px;
            margin-bottom: 30px;
            margin-left: auto;
            margin-right: auto;
            max-width: 960px;
            padding: 10px;
            padding-bottom:60px;
            border-radius: 10px;
            background-color: #e3e3e3;
            min-height: 500px;
        }
        
        h2 {
            //text-align: center;
            color: #000020;
           // font-family: Arial;
           // font-style: ;
        }

      th, td {
         text-align: left;
         padding: 6px;
        }

      tr:nth-child(even){background-color: #c3c3c3}


    </style>
</head>
<body>
    <div class="title">
        @{
            String log = "";
            String login = Session["Logged"].ToString();
            if (!login.Equals(""))
            {
                log = "Přihlášen: " + Session["Logged"].ToString();
                @log.ToString()
                <br />
                @Html.ActionLink("Odhlásit", "Index", "Main")

            }
            else
            {

             Response.Redirect("http://localhost:64395/Main/Index");

            }
        }
   </div>


    <div class="main">
        @RenderBody()
        <br />
        @*@{
            String log = "";
            String login = Session["Logged"].ToString();
            if (!login.Equals(""))
            {
                log = "Přihlášen: " + Session["Logged"].ToString();
                @log.ToString()
                <br />
                @Html.ActionLink("Odhlásit", "Index", "Main")
                
            }
            else
            {
                Response.Redirect("http://localhost:64395/Main/Index");

            }
        }*@

     @* script na zamezení vkládání mezery na začátku *@
        <script type="text/javascript">
        <!--
        function validateTextBox(eventRef, elementRef)
        {
        var functionReturn = true;
        eventRef = (eventRef) ? eventRef : (window.event) ? window.event : (event) ? event : null;

        if ( eventRef == null )
         {
          return false;
         }

       var keyCodeEntered = (eventRef.which) ? eventRef.which : (eventRef.keyCode) ? eventRef.keyCode : -1;

       //alert(keyCodeEntered);
       //alert(elementRef.value.length);

       // If this is a space character (32) and this is the first character entered...
      if ((keyCodeEntered == 32 || keyCodeEntered == 173) && (elementRef.value.length <= 0))
      functionReturn = false;

      if ( functionReturn == false )
       {
         if ( window.event )
        {
          // Internet Explorer...

            window.event.cancelBubble = true;
            window.event.returnValue = false;
        }
        else
          {
           // Firefox...

           eventRef.preventDefault();
           eventRef.stopPropagation();
          }
        }

        return functionReturn;
       }// -->
        </script>
                
    </div>
   
    <p>&copy; @DateTime.Now.Year - RPRO_SportSoft ASP.NET Application</p>
    <p> Microsoft .NET Framework Version:4.0.30319; ASP.NET Version:4.6.1073.0</p>
</body>
</html>