<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.8/themes/base/jquery-ui.css" type="text/css" media="all" />
    <link rel="stylesheet" href="http://static.jquery.com/ui/css/demo-docs-theme/ui.theme.css" type="text/css" media="all" /> 
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js" type="text/javascript"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.8/jquery-ui.min.js" type="text/javascript"></script>

    <link href="~/Content/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />

    <meta charset="utf-8" />
    <style>


   </style>

</head>

<body>
    @{
        if (Session["Logged"] == null) {
            Response.Redirect("~/Main/index");
        }
     }
    <div class="header">
       @{
           String log = "";
           String login;
           if (Session["Logged"] == null)
           {
               login = "";

           }
           else {
               login = Session["Logged"].ToString();
           }
           if (!login.Equals(""))
           {
               log = "Přihlášen: " + Session["Logged"].ToString();
               @log.ToString()
               <br />
               @Html.ActionLink("Odhlásit", "Index", "Main")

           }
           else
           {
               if (IsSectionDefined("Header"))
               {
                   @RenderSection("Header")
               }
               else
               {
                   log = "Přihlášen: Nepřihlášený uživatel";
                   @log.ToString()
                   <br />
                   @Html.ActionLink("Přihlásit", "Index", "Main")
                <br />
               }
           }
    }

   </div>


    <div class="main">

        <div class="navbar">
            <nav>
                @{ 
                 <ul>
                    <li>@Html.ActionLink("Domů", "Index", "Sports")</li>
                     <li>@Html.ActionLink("Provozní řád", "Rules", "Main")</li>
                     <li>@Html.ActionLink("Kontakt", "Contacts", "Main")</li>
                    
                </ul>
                    }
            </nav>
        </div>

        <div class="user_menu">
                @{
                    if (!login.Equals(""))
                    {
                            String role = Session["Role"].ToString();
                            if (role.Equals("Owner"))
                            {
                        <ul>
                            <li>@Html.ActionLink("Správa účtu", "Account", "Main")</li>
                            <li>@Html.ActionLink("Správa ceníků", "Index", "PriceLists")</li>
                            <li>@Html.ActionLink("Správa rezervací", "IndexR", "Courts")</li>
                            <li>@Html.ActionLink("Správa obrázků", "Index", "Image")</li>
                        </ul>
                            }
                            else if (role.Equals("Customer"))
                            {
                                <ul>
                                    <li>@Html.ActionLink("Správa účtu", "Account", "Main")</li>
                                </ul>
                            }

                                }
                                else
                                {
                                }
                            }
        </div>

        @RenderBody()
        <br />
        @*@{
            String log = "";
            String login = Session["Logged"].ToString();
            if (!login.Equals(""))
            {
                log = "Přihlášen: " + Session["Logged"].ToString();
                @log.ToString()
                <br />
                @Html.ActionLink("Odhlásit", "Index", "Main")
                
            }
            else
            {
                Response.Redirect("http://localhost:64395/Main/Index");

            }
        }*@

     @* script na zamezení vkládání mezery na začátku *@
        <script type="text/javascript">
        <!--
        function validateTextBox(eventRef, elementRef)
        {
        var functionReturn = true;
        eventRef = (eventRef) ? eventRef : (window.event) ? window.event : (event) ? event : null;

        if ( eventRef == null )
         {
          return false;
         }

       var keyCodeEntered = (eventRef.which) ? eventRef.which : (eventRef.keyCode) ? eventRef.keyCode : -1;

       //alert(keyCodeEntered);
       //alert(elementRef.value.length);

       // If this is a space character (32) and this is the first character entered...
      if ((keyCodeEntered == 32 || keyCodeEntered == 173) && (elementRef.value.length <= 0))
      functionReturn = false;

      if ( functionReturn == false )
       {
         if ( window.event )
        {
          // Internet Explorer...

            window.event.cancelBubble = true;
            window.event.returnValue = false;
        }
        else
          {
           // Firefox...

           eventRef.preventDefault();
           eventRef.stopPropagation();
          }
        }

        return functionReturn;
       }// -->
        </script>

        <script>
       $( function() {
           $("#datepicker").datepicker({
               altField: "#alternate",
               altFormat: "DD, MM, yyyy"
           });
       });

       $.datepicker.regional['cs'] = {
           closeText: 'Cerrar',
           prevText: 'Předchozí',
           nextText: 'Další',
           currentText: 'Hoy',
           monthNames: ['Leden', 'Únor', 'Březen', 'Duben', 'Květen', 'Červen', 'Červenec', 'Srpen', 'Září', 'Říjen', 'Listopad', 'Prosinec'],
           monthNamesShort: ['Le', 'Ún', 'Bř', 'Du', 'Kv', 'Čn', 'Čc', 'Sr', 'Zá', 'Ří', 'Li', 'Pr'],
           dayNames: ['Neděle', 'Pondělí', 'Úterý', 'Středa', 'Čtvrtek', 'Pátek', 'Sobota'],
           dayNamesShort: ['Ne', 'Po', 'Út', 'St', 'Čt', 'Pá', 'So', ],
           dayNamesMin: ['Ne', 'Po', 'Út', 'St', 'Čt', 'Pá', 'So'],
           weekHeader: 'Sm',
           dateFormat: 'dd.mm.yy',
           firstDay: 1,
           isRTL: false,
           showMonthAfterYear: false,
           yearSuffix: ''
       };

       $.datepicker.setDefaults($.datepicker.regional['cs']);
        </script>
                
    </div>
   
    <p align="center">&copy; @DateTime.Now.Year - RPRO_SportSoft ASP.NET Application</p>
</body>
</html>