@model RPRO_SportSoft.PriceList

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Úprava ceníku</h2>
@{
    if (Session["Role"] == null)
    {
        Session["Role"] = "";
    }
    if ((String)Session["Role"] != "Owner")
    {
        Response.Redirect("~/Main/Index");
    }
}

@ViewBag.MyMessageToUserPriceList
@using (Html.BeginForm("Edit", "PriceLists", FormMethod.Post))
{
    <p>
        @Html.Hidden("Id", Model.Id)
        Popis:
        @Html.TextBox("Description", Model.Description)<br />
        Cena: @Html.TextBox("Price", Model.Price) <br />
        <input type="submit" value="Uložit změny" />
    </p>
}

<div>
    @Html.ActionLink("Zpět", "Index")
</div>
