@model RPRO_SportSoft.PriceList

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/toastr.js"></script>
<h2>Úprava ceníku</h2>
@{
    if (Session["Role"] == null)
    {
        Session["Role"] = "";
    }
    if ((String)Session["Role"] != "Owner")
    {
        Response.Redirect("~/Main/Index");
    }
}
@if (ViewData["EditMessage"] != null)
{
    <script language="javascript">
        toastr.options = {
            "closeButton": false,
            "debug": false,
            "newestOnTop": false,
            "progressBar": false,
            "positionClass": "toast-bottom-right",
            "preventDuplicates": false,
            "onclick": null,
            "showDuration": "300",
            "hideDuration": "1000",
            "timeOut": "5000",
            "extendedTimeOut": "1000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        }
        toastr.error('@ViewData["EditMessage"]');
    </script>
}

@using (Html.BeginForm("Edit", "PriceLists", FormMethod.Post))
{
    <p>
        @Html.Hidden("Id", Model.Id)
        Popis:
        @Html.TextBox("Description", Model.Description, new { @class = "form-control", onkeydown = "return validateTextBox(event, this);", placeholder = "", required = "required" })<br />
        Cena: @Html.TextBox("Price", Model.Price, new { @class = "form-control", onkeydown = "return validateTextBox(event, this);", placeholder = "", required = "required", type="number" , min="0" }) <br />
        <input type="submit" value="Uložit změny" class="btn btn-default" />
    </p>
}

<div>
    @Html.ActionLink("Zrušit", "Index")
</div>
