@model RPRO_SportSoft.PriceList

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Úprava ceníku</h2>
@{
    if (Session["Role"] == null)
    {
        Session["Role"] = "";
    }
    if ((String)Session["Role"] != "Owner")
    {
        Response.Redirect("~/Main/Index");
    }
}

@ViewBag.EditMessage
@using (Html.BeginForm("Edit", "PriceLists", FormMethod.Post))
{
    <p>
        @Html.Hidden("Id", Model.Id)
        Popis:
        @Html.TextBox("Description", Model.Description, new { @class = "form-control", onkeydown = "return validateTextBox(event, this);", placeholder = "", required = "required" })<br />
        Cena: @Html.TextBox("Price", Model.Price, new { @class = "form-control", onkeydown = "return validateTextBox(event, this);", placeholder = "", required = "required" }) <br />
        <input type="submit" value="Uložit změny" />
    </p>
}

<div>
    @Html.ActionLink("Zrušit", "Index")
</div>
