@model IEnumerable<RPRO_SportSoft.PriceList>
@using RPRO_SportSoft.Application;

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/toastr.js"></script>
<h2>Výpis ceníků</h2>
@{
    if (Session["Role"] == null)
    {
        Session["Role"] = "";
    }
    String r = Session["Role"].ToString();
    if (r.Equals("Owner"))
    {
        <p>
            @Html.ActionLink("Vytvořit ceník", "Create")
        </p>
    }
}
@if (TempData["MessageCreatePriceList"] != null)
{
    <script language="javascript">
        toastr.options = {
            "closeButton": false,
            "debug": false,
            "newestOnTop": false,
            "progressBar": false,
            "positionClass": "toast-bottom-right",
            "preventDuplicates": false,
            "onclick": null,
            "showDuration": "300",
            "hideDuration": "1000",
            "timeOut": "5000",
            "extendedTimeOut": "1000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        }
        toastr.success('@TempData["MessageCreatePriceList"]');
    </script>
}
@if (TempData["MessageDeletePriceList"] != null)
{
    <script language="javascript">
        toastr.options = {
            "closeButton": false,
            "debug": false,
            "newestOnTop": false,
            "progressBar": false,
            "positionClass": "toast-bottom-right",
            "preventDuplicates": false,
            "onclick": null,
            "showDuration": "300",
            "hideDuration": "1000",
            "timeOut": "5000",
            "extendedTimeOut": "1000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        }
        toastr.success('@TempData["MessageDeletePriceList"]');
    </script>
}
<table class="table">
    <tr class="default">
        <th>
            Popis
        </th>
        <th>
            Cena
        </th>
        <th>
            Správa ceníku
        </th>
    </tr>

@foreach (var item in Model) {
    <tr class="default">

        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price) Kč
        </td>
        <td>
            @{
                if (Session["Role"] == null)
                {
                    Session["Role"] = "";
                }
                String ro = Session["Role"].ToString();
                if (ro.Equals("Owner"))
                {
                    <p>
                      @{  String v = " |";
                          PriceListsApp pl = new PriceListsApp();
                          if (!pl.CheckForUsedPriceLists(item.Id)) {  @Html.ActionLink("Vymazat", "Delete", new { id = item.Id });
                              
                              @v.ToString();
                          }
                      } 
                          @Html.ActionLink("Upravit", "Edit", new { id = item.Id })
                    </p>

                }
            }
            
        </td>

            @*<td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
                </td>*@
</tr>
}

</table>
